@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300;1,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    --primary-color: #e7e0ee;
    --sec-color: #f3f1f5;
    --hover-color: #11052c;
    --color: #1f1f1f;
    --text-color: #f3f1f5;
}

body[data-theme="dark"] {
    --primary-color: #0f0f0f;
    --sec-color: #1a1a1a;
    --hover-color: #ededed;
    --color: #f0f0f0;
    --text-color: #1f1f1f;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--primary-color);
    color: var(--color);
}

.card {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    background: var(--sec-color);
    border-radius: 10px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

a {
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: #ff006e;
    border: 1px solid #111;
    padding: 12px 34px;
    font-size: 15px;
    border-radius: 2px;
    position: relative;
    left: -10px;
    cursor: pointer;
}

.btn:hover {
    border: none;
    color: #fff;
    font-style: bold;
    font-weight: 500;
    font-size: 15px;
    background: #219ebc;
    transition: 0.1s;
}

.darkMode {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translate(-50%);
    border-radius: 10px;
    overflow: hidden;
}

.darkMode .box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--sec-color);
    transition: all .4s;
}

.darkMode input {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 10;
}

.darkMode input:checked~.box {
    transform: rotate(180deg);
}

.darkMode input:checked~.box i {
    transform: rotate(180deg);
}
